* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: 0;
	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 900;
}

/* HOME SECTION */
.container {
	display: flex;
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.home {
	background-image: url(image-header.jpg);
	background-size: cover;
}

h1 {
	position: absolute;
	letter-spacing: 8px;
	color: white;
	font-size: 54px;
	top: 12.5rem;
	left: 50%;
	transform: translate(-50%);
}
/* END OF HOME */

/* SERVICE SECTION */
.services {
	background-color: rgb(253, 249, 243);
}

.service-item {
	display: flex;
}

.item-text {
	height: 90vh;
	width: 50%;
	padding: 170px;
}

.service-img {
	width: 50%;
	background-image: url(image-transform.jpg);
	background-size: cover;
}

.service-img2 {
	width: 50%;
	background-image: url(image-stand-out.jpg);
	background-size: cover;
}

.service-img3 {
	height: 90vh;
	width: 50%;
	background-image: url(image-graphic-design.jpg);
	background-size: cover;
}

.service-img4 {
	height: 90vh;
	width: 50%;
	background-image: url(image-photography.jpg);
	background-size: cover;
}

h2 {
	font-size: 44px;
	padding-bottom: 33px;
	color: hsl(212, 27%, 19%);
}

p {
	font-size: 16.5px;
	padding-bottom: 44px;
	color: hsl(210, 7%, 53%);
	font-weight: 600;
	line-height: 1.7;
}

a {
	position: absolute;
	font-size: 21px;
	font-weight: 900;
	color: hsl(212, 27%, 19%);
	text-decoration: none;
	top: 70.77rem;
	left: 10.8rem;
}

.a1 {
	position: absolute;
	font-size: 21px;
	font-weight: 900;
	color: hsl(212, 27%, 19%);
	text-decoration: none;
	top: 110.5rem;
	left: 57.7rem;
}

.bg {
	display: inline-block;
	background-color: rgb(248, 240, 163);
	border-radius: 9px;
	height: 8px;
	width: 126px;
}

.bgg {
	display: inline-block;
	background-color: hsla(7, 99%, 70%, 0.418);
	border-radius: 9px;
	height: 8px;
	width: 126px;
}

.second {
	flex-direction: row-reverse;
}

.img3-text {
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 170px;
	padding-top: 390px;
}

h3 {
	padding-bottom: 15px;
	font-size: 28px;
	color: hsl(167, 40%, 24%);
}

.h33 {
	padding-bottom: 19px;
	font-size: 28px;
	color: hsl(198, 62%, 26%);
}

.p-text {
	font-size: 16px;
	color: hsl(167, 40%, 24%);
}

.p-textt {
	font-size: 15px;
	color: hsl(198, 62%, 26%);
}
/* END OF SERVICE */

/* CLIENT SECTION */
.client {
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.client-h3 {
	font-size: 20px;
	letter-spacing: 3px;
	color: hsl(210, 4%, 67%);
	padding-bottom: 65px;
}

.clients {
	display: flex;
	align-items: center;
	justify-content: center;
}

.client-items {
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 8px;
}

.client-img {
	width: 66px;
	border-radius: 100%;
}

.p-client {
	width: 330px;
}

.client-pp {
	padding-top: 40px;
}

.client-h5 {
	font-size: 19.7px;
	font-weight: 900;
	color: hsl(212, 27%, 19%);
}

.client-p {
	font-size: 13px;
	color: hsl(210, 4%, 67%);
	padding-top: 9px;
}
/* END OF CLIENT */

/* GALLERY SECTION */
.gallery {
	display: flex;
}

.img1 {
	height: 20vh;
	width: 25%;
}

.img2 {
	height: 20vh;
	width: 25%;
}

.img3 {
	height: 20vh;
	width: 25%;
}

.img4 {
	height: 20vh;
	width: 25%;
}

.imgg {
	height: 64vh;
	width: 53.09vh;
}
/* END GALLERY */

/* FOOTER */
.footer {
	background-color: hsla(168, 52%, 70%, 0.87);
	display: flex;
	min-height: 96vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.footer-header {
	font-size: 40px;
	text-align: center;
	color: hsl(167, 40%, 31%);
	padding-top: 299px;
	padding-bottom: 10px;
}

.footer-p {
	display: flex;
	justify-content: space-between;
}

.p {
	color: hsl(167, 15%, 30%);
	font-size: 20px;
	font-weight: 400;
	padding: 30px;
	padding-bottom: 90px;
}

.footer-icon {
	padding-left: 90px;
}

.icon {
	padding: 11px;
}

/* END OF FOOTER */
