* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: 0;
	font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 900;
}

/* HOME SECTION */
.container {
	display: flex;
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.home {
	background-image: url(image-header.jpg);
	background-size: cover;
}

h1 {
	position: absolute;
	letter-spacing: 8px;
	color: white;
	font-size: 54px;
	top: 12.5rem;
	left: 50%;
	transform: translate(-50%);
}
/* END OF HOME */

/* SERVICE SECTION */
.services {
	background-color: rgb(253, 249, 243);
}

.service-item {
	display: flex;
}

.item-text {
	padding: 110px;
	padding-top: 180px;
}

h2 {
	font-size: 44px;
	padding-bottom: 33px;
	color: hsl(212, 27%, 19%);
}

p {
	font-size: 16.5px;
	padding-bottom: 34px;
	color: hsl(210, 7%, 53%);
	font-weight: 600;
	line-height: 1.7;
}

a {
	position: absolute;
	font-size: 21px;
	font-weight: 900;
	color: hsl(212, 27%, 19%);
	text-decoration: none;
	top: 66.4rem;
	left: 7.1rem;
}

.bg {
	display: inline-block;
	background-color: rgb(248, 240, 163);
	border-radius: 9px;
	height: 8px;
	width: 126px;
}
/* END OF SERVICE */
